<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619622862641-vud9e6eaaennrm525fn1h6ubqis7v6qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619622862641-vud9e6eaaennrm525fn1h6ubqis7v6qr</string>
	<key>API_KEY</key>
	<string>AIzaSyBN9Agc7keMRMCLP9Ll-VbLU29CcXmoaj8</string>
	<key>GCM_SENDER_ID</key>
	<string>619622862641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.takenotes</string>
	<key>PROJECT_ID</key>
	<string>take-notes-fa890</string>
	<key>STORAGE_BUCKET</key>
	<string>take-notes-fa890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619622862641:ios:59ff6789fb94ac03796a10</string>
</dict>
</plist>